#actions {
    padding: 50px 150px;
    display: grid;
    grid-gap: 50px;
    grid-template-areas: "." ".";
}

.action-section {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-radius: 18px;
    box-shadow: 1px 1px 3px rgb(19, 18, 18);
}

#action-client-input {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-content: center;
    padding: 5px;
    font-size: 180%;
    margin-bottom: 25px;
}

#clientInput {
    align-self: center;
    padding: 3px;
    height: 80%
}

#action-update {
    padding: 0 50px;
}

.action-update-input {
    display: grid;
    grid-template-areas: ". s b";
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 25px
}

.label {
    /* grid-area: l; */
    font-size: 120%;
}

.action-update-input>select {
    grid-area: s;
    justify-self: center;
    width: 170px;
}

#declare-sale {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template: "l . b ";
    grid-gap: 20px;
}

#add-client-container {
    padding: 0 50px;
    padding-right: 30%;
}

.text-input-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 25px;
}

.button-container {
    margin-top: 25px;
    display: grid;
    justify-content: center;
}

.button {
    justify-self: end;
    grid-area: b;
    display: grid;
    margin: 2px;
    width: 120px;
    justify-content: center;
    -moz-box-shadow: inset 0px 1px 0px 0px #9acc85;
    -webkit-box-shadow: inset 0px 1px 0px 0px #9acc85;
    box-shadow: inset 0px 1px 0px 0px #9acc85;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
    background: -moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background: -webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background: -o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background: -ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b', GradientType=0);
    background-color: #74ad5a;
    border: 1px solid #3b6e22;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
    background: -moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background: -webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background: -o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background: -ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a', GradientType=0);
    background-color: #68a54b;
}

.button:active {
    position: relative;
    top: 1px;
}