#navbar {
    /* background-color: rgb(19, 18, 18); */
    background-color: #333333;
    height: 50px;
}

.nav-button {
    color: white;
    display: grid;
    align-content: center;
    justify-content: center;
    float: left;
    width: 100px;
    height: 100%;
}

.nav-button:hover {
    /* background-color: rgb(44, 44, 44); */
    background-color: #086788;
}

.current-page {
    /* background-color: rgb(44, 44, 44); */
    background-color: #086788;
}